
    /* CSS Reset */
    body {
        color: white;
        margin: 0px;
        padding: 0px;
        background: url("https://images.unsplash.com/photo-1580086319619-3ed498161c77?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
        font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .left {
        /* border: 2px solid red; */
        display: inline-block;
        position: absolute;
        left: 4px;
        top: 20px;

    }

    .right {
        display: inline-block;
        /* border: 2px solid green; */
        position: absolute;
        right: 7px;
        top: 20px;


    }

    .mid {

        display: block;
        width: 65%;
        margin: 20px 175px;

        /* border: 2px solid yellow; */




    }

    .navbar {
        display: inline-block;
    }

    .navbar li {
        display: inline-block;
        font-size: 25px;
    }

    .navbar li a {
        color: white;
        text-decoration: none;
        padding: 34px 23px;
    }

    .navbar li a:hover,
    .navbar li a:active {
        text-decoration: underline;
        color: gray;
    }

    .left img {
        width: 50px;
    }

    .left div {
        text-align: center;
        line-height: 19px;
        font-size: 16px;
    }

    .btn {
        margin: 0px 9px;
        color: white;
        background-color: black;
        padding: 3px 4px;
        /* border: 2px solid grey; */
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    .btn:hover {
        background-color: rgb(85, 64, 64);

    }

    .container {
        /* border: 2px solid green;
        margin: 2px 2px;
        padding: 2px 2px;
        width: 33%;
        border-radius: 2px; */
        /* border: 2px solid green; */
        margin: 51px 41px;
        padding: 38px 66px;
        width: 33%;
        border-radius: 30px;

    }

    .form input {
        /* text-align: center;
        display: block;
        width: 34px;
        padding: 6px;
        border: 2px solid black;
        margin: 3px auto; */
        text-align: center;
        display: block;
        width: 355px;
        padding: 3px;
        border: 2px solid black;
        margin: 10px auto;
        font-family: monospace;

    }

    .container h1 {
        text-align: center;
    }

    .container button {
        /* display: block;
        width: 23px;
        margin: 23px auto; */
        display: block;
        width: 366px;
        margin: 11px 43px
    }